<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="stylesheet" href="/CSS/GoogleIcons.css">
    <link rel="stylesheet" href="/CSS/global.css">
    <link rel="stylesheet" href="/CSS/header.css">
    <link rel="stylesheet" href="/CSS/main-created.css">
    <link rel="stylesheet" href="/CSS/main-Edit.css">
    <link rel="stylesheet" href="/CSS/main-preview.css">
    <link rel="stylesheet" href="/CSS/modaltrash.css">
    <link rel="stylesheet" href="/CSS/modalEditLink.css">
    <link rel="stylesheet" href="/CSS/media.css">
    <link rel="stylesheet" href="/CSS/Modal-menu.css">
    <link rel="stylesheet" href="/CSS/styleModal.css">

    <script src="/JS/createdLink.js" defer></script>
    <script src="/JS/createModal_Edit.js" defer></script>
    <script src="/JS/deleteLink.js" defer></script>
    <script src="/JS/updateLink.js" defer></script>
    <script src="/JS/currentIndex.js" defer></script>

    <script src="/JS/cardlistposition.js" defer></script>
    <script src="/JS/interaction.js" defer></script>

    <title>Document</title>
</head>
<body>
    <header id="<%- userData.id %>">
        <section class="user_header-father container">
            <section class="user_header-logo">
                <img src="" alt="Logo">
            </section>
            <!-- <section class="user_header-menu">
               <button class="btn">Home</button>
               <button class="style-modal btn">Estilização</button>
            </section> -->

            <section class="user_header-user">
                <p><%- userData.Name %></p>
            </section>
        </section>
    </header>

    
    <main class="color-white">
       
        <section class="user_main-father container">
            <section class="user_main-linkCreationArea">
                <section class="user_main-linkCreationEdit">
                    <h1>Crie seu link</h1>
                    <input type="text" class="linkCreation-nameLink inputCreatLink" placeholder="Nome do link">
                    <input type="text" class="linkCreation-urlLink inputCreatLink" placeholder="https://www.example.com/">
                    <div class="linkCreationEdit-uploadImgCreate">
                        <input  class="uploadImg" type="file" id="upload">
                        <label class="uploadImg-label" for="upload">
                            <img id="imageCreat" style="display: none;" alt="">
                            <p class="imagePreview-name" style="display: none;"></p>
                            <span class="material-icons imagePreview-remove" style="display: none;">
                                close
                                </span>
                            <span class="material-icons uploadImg-label-icon">
                                file_download
                            </span>
                            <p class="uploadImg-label-nameUpload">Upload</p>
                            
                        </label>
                            
                        <button class="creat uploadImgCreate-button">Criar</button>
                        
                    </div>
                </section>
                
                    <ul class="user_main-readyLinksArea">
                    <% linksData.forEach( obj =>  {%>
                        <li class="list-link-Container" id="<%- obj.id %>">
                            <div class="list-link-Container-iconDrag">
                                <span class="material-icons">
                                    drag_indicator
                                </span>
                            </div>
                            <div class="list-link-Container-nameLink">
                                <%- obj.nameLink %></div>
                            <div class="list-link-Container-trash">
                                <span class="material-icons">
                                    delete
                                    </span>
                            </div>
                        </li>
            
                <%  })  %>
                       
                </ul>
                
                <section class="modalCurrentIndex">
                    <button class="modalCurrentIndex_button">Salvar</button>
                   
                </section>
            </section>
            
            <section class="user_main-view">
               <section class="modelFixed-phone"></section>
            </section>
            
            
        </section>

        <section class="modalTrash">
            <section class="nullTrash-hearder remove-ModalTrash"></section>
            <section class="nullTrash-left remove-ModalTrash"></section>
            <section class="nullTrash-right remove-ModalTrash"></section>
            <section class="nullTrash-footer remove-ModalTrash"></section>
            <section class="modalTrash-father">
                <div class="modalTrash-text">Deseja deletar esse link?</div>
                <div class="modalTrash-confirm">
                    <button class="TrashNo buttonTrash">Cancelar</button>
                    <button class="deletcard buttonTrash">sim</button>
                </div>
            </section>
        
        </section>


    </main>
    
</body>
</html>

